
.Main-Article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.Description-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Article-video{
    width: 100%;
    height: 100%;
    border-radius: 1rem;

}

.Description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.isActive {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.Course-sections{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-top: 1px solid #000;
}

.Course-sections--item{
    display: flex;
    gap:1rem;
    align-items: center;
}

.Item-imgContent{
    width: 50%;
    border-radius: 1rem;

}
.Item-img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.Item-content{
    width: 50%;
}
.Oporunities-list{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.Instructor-section{
    display: flex;
    flex-direction: column;
  
}

.Instructor-sections--item{
    display: flex;
    align-items: center;
   
    gap: 10px;
}
.Instructor-imgContent{
    width: auto;
    height: auto;
    border-radius: 1rem;

}
.Instructor-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.Instructor-content{
    width: 70%;
    overflow-wrap: break-word;
    padding: 10px;
    
}

@media screen and (min-width:600px) and (max-width:800px) {
    .Item-imgContent{
        width: 30%;
    }
    .Item-content{
        width: 70%;
    }
}
    


@media screen and (min-width:800px) {
    .Acordeon-content{
    flex-direction: row;
    }

    .Article-video{
        width: 40%;
    }
    .Description-section{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .Description{
        width: 60%;
        padding: 1rem;
    }
}